
file-format-manipulation/.ipynb_checkpoints/Create-GPML-Point-Distributions-on-Sphere-checkpoint.ipynb

file-format-manipulation/healpix_mesh_feature.gpmlz

file-format-manipulation/pseudo_random_points_feature.gpmlz

visualisation/.ipynb_checkpoints/animation-with-matplotlib-checkpoint.ipynb

visualisation/.ipynb_checkpoints/GMT-plots-checkpoint.ipynb

visualisation/boundary_polygons_180.00Ma.gmt

visualisation/boundary_polygons_180.00Ma.gmt.gplates.xml

visualisation/coastlines.xy

visualisation/gmt.history

visualisation/gmtplot.png

visualisation/gmtplot.ps

visualisation/ridge_transform_boundaries_180.00Ma.gmt

visualisation/ridge_transform_boundaries_180.00Ma.gmt.gplates.xml

visualisation/static_polygons.xy

visualisation/subduction_boundaries_180.00Ma.gmt

visualisation/subduction_boundaries_180.00Ma.gmt.gplates.xml

visualisation/subduction_boundaries_sL_180.00Ma.gmt

visualisation/subduction_boundaries_sL_180.00Ma.gmt.gplates.xml

visualisation/subduction_boundaries_sR_180.00Ma.gmt

visualisation/subduction_boundaries_sR_180.00Ma.gmt.gplates.xml

visualisation/tmp.dbf

visualisation/tmp.prj

visualisation/tmp.shp

visualisation/tmp.shx

topology/.ipynb_checkpoints/topology-length-errors-checkpoint.ipynb

file-format-manipulation/.ipynb_checkpoints/gpml-to-pandas-dataframe-checkpoint.ipynb

*.png

topology/.ipynb_checkpoints/Hotspot-Tracking-Movie-Maker-checkpoint.ipynb

topology/.ipynb_checkpoints/track-point-through-topologies-checkpoint.ipynb

topology/tmp.dbf

topology/tmp.prj

topology/tmp.shp

topology/tmp.shx

file-format-manipulation/tmp.gpml

file-format-manipulation/tmp.gpmlz

file-format-manipulation/.ipynb_checkpoints/retrieve-GPML-from-github-checkpoint.ipynb

data-manipulation/tmp.gpml

data-manipulation/tmp.gpmlz

data-manipulation/.ipynb_checkpoints/Create-GPML-Point-Distributions-on-Sphere-checkpoint.ipynb

data-manipulation/.ipynb_checkpoints/gpml-to-pandas-dataframe-checkpoint.ipynb

data-manipulation/.ipynb_checkpoints/retrieve-GPML-from-github-checkpoint.ipynb

data-manipulation/healpix_mesh_feature.gpmlz

data-manipulation/pseudo_random_points_feature.gpmlz

data-manipulation/FossilData.gpmlz

velocity/.ipynb_checkpoints/convergence-for-point-NAM-FAR-checkpoint.ipynb

data-manipulation/.ipynb_checkpoints/paleobiology-to-gpml-checkpoint.ipynb

visualisation/.ipynb_checkpoints/Time-Latitude-Plots-checkpoint.ipynb

visualisation/.ipynb_checkpoints/reconstruction-trees-checkpoint.ipynb

velocity/.ipynb_checkpoints/spreading-along-ridges-checkpoint.ipynb

topology/subduction_initiation.gif
